@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

input, select, textarea, button {
  font-family: 'Inter', sans-serif;
}

::placeholder {
  font-family: 'Inter', sans-serif;
  color: #9ca3af;
}